@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.page {
  background-color: #fff;
}
.button {
  color: #595757;
  border: none;
  position: relative;
  height: 40px;
  line-height: 38px;
}
.button.active {
  background: none;
  color: #009999;
  border-bottom: 3px solid #009999;
}
.buttons-row .button:first-child {
  border-left: none;
  border-radius: 0;
}
.buttons-row .button:last-child {
  border-right: none;
}
.buttons-row .button:after {
  content: '';
  border-right: 1px solid #898989;
  position: absolute;
  height: 60%;
  top: 20%;
  right: 0;
}
.subnavbar {
  background: #fff;
}
.subnavbar::after {
  background: none;
}
.navbar {
  background-color: #009999;
}
.navbar, .navbar i.icon {
  color: #fff;
}
.navbar i.icon {
  font-size: 1.8em;
  margin-top: -5px;
}
.ui-index img {
  vertical-align: middle;
}
.ui-index .banner {
  position: relative;
}
.ui-index .banner .searcher {
  position: absolute;
  bottom: 15%;
  height: 3em;
  left: 1em;
  right: 1em;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #fff;
}
.ui-index .banner .searcher input {
  border: none;
  width: 100%;
  background-color: rgba(255, 255, 255, .2);
  font-size: 1em;
  height: 100%;
  padding: 0 4em 0 1em;
  box-sizing: border-box;
}
.ui-index .banner .searcher input::-webkit-input-placeholder {
  color: #fff !important;
}
.ui-index .banner .searcher button {
  background: none;
  border: none;
  position: absolute;
  right: .1em;
  top: 0;
  font-size: 1em;
  height: 100%;
}
.ui-index .banner .searcher button i.iconfont {
  font-size: 1.5em;
  opacity: .6;
}
.ui-index .content-main {
  position: relative;
}
.ui-index .icon-links {
  position: absolute;
  left: 0;
  top: 2em;
  width: 100%;
}
.ui-index .footer {
  position: absolute;
  left: 0;
  bottom: 1em;
  text-align: center;
  width: 100%;
  color: #16a09f;
}
.ui-index .icon-links .col-33 {
  text-align: center;
}
.ui-index .icon-links .col-33 a {
  color: #009999;
}
.ui-index .icon-links .col-33 i.iconfont {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  font-size: 2em;
  line-height: 1.2em;
  color: #fff;
  background-color: #78c1c3;
  border-radius: 50%;
  padding: .5em;
  box-shadow: 0 0 2px #fff;
  margin-bottom: .2em;
  overflow: hidden;
}
.ui-fagui .content-block-title {
  color: #099;
  font-size: 18px;
  overflow: visible;
}
.ui-fagui .content-block-title i.iconfont {
  background-color: #0cc;
  color: #fff;
  border-radius: 50%;
  padding: .2em;
  font-size: 1.2em;
  margin-right: .5em;
}
.ui-fagui .list-block .item-title a {
  color: #727171;
}
.ui-fagui .list-block .item-inner::after {
  background-color: transparent;
}
.ui-fagui .list-block ul::after {
  background-color: transparent;
}
.ui-news .list-block .item-content {
  padding-right: 15px;
}
.ui-news .list-block.media-list .item-title {
  white-space: normal;
  height: 2.8em;
}
.ui-news .list-block.media-list .item-link .item-title-row {
  background: none;
  padding-right: 0;
}
.ui-news .list-block .item-text {
  height: auto;
}
.ui-zhuisu-info .row {
  display: table;
  width: 100%;
  padding-top: .5em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dcdddd;
}
.ui-zhuisu-info .row .col-33 {
  display: table-cell;
}
.ui-zhuisu-info .row .item-thumb {
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 4px solid #00cccc;
}
.ui-zhuisu-info .row .item-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
}
.ui-zhuisu-info .row .item-thumb i.iconfont {
  position: absolute;
  font-size: 2em;
  left: 50%;
  bottom: -1.1em;
  color: #00cccc;
  margin-left: -.5em;
}
.ui-zhuisu-info .row:last-child {
  padding-bottom: .5em;
}
.ui-zhuisu-info .row:last-child .item-thumb i.iconfont {
  display: none;
}
.ui-qiye-info .card {
  border-top: 2px solid #179e9e;
  background-color: #f0f7fc;
  box-shadow: none;
}
.ui-qiye-info .card em {
  font-style: normal;
  color: #609997;
}
.ui-pingjia-info .commet-card {
  box-shadow: none;
  border-bottom: 1px solid #dcdddd;
}
.ui-pingjia-info .commet-card .card-header {
  display: block;
  padding: 10px;
  position: relative;
}
.ui-pingjia-info .commet-card .card-header .sns-info {
  position: absolute;
  right: .4em;
  top: .4em;
}
.ui-pingjia-info .commet-card .card-header .sns-info em {
  font-style: normal;
  color: #54bbbb;
  font-size: .8em;
  margin-right: .4em;
}
.ui-pingjia-info .commet-card .card-header .sns-info em i.iconfont {
  color: #cccccc;
  font-size: 1.5em;
  margin-right: .2em;
}
.ui-pingjia-info  .commet-card .commet-avatar {
  float: left;
}
.ui-pingjia-info  .commet-card .commet-avatar img {
  border-radius: 50%;
}
.ui-pingjia-info  .commet-card .commet-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}
.ui-pingjia-info  .commet-card .commet-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.ui-pingjia-info  .commet-card .card-content-inner {
  padding: 0 10px 15px 10px;
}
.ui-pingjia-info-toolbar .toolbar-inner {
  position: relative;
}
.ui-pingjia-info-toolbar .toolbar-inner i.iconfont {
  position: absolute;
  left: .8em;
  top: .3em;
  font-size: 1.2em;
  color: #999999;
}
.ui-pingjia-info-toolbar .toolbar-inner input {
  border: 2px solid #00cccc;
  font-size: 1em;
  padding: .2em .5em .2em 1.8em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}
.ui-introduction .thumb {
  position: relative;
  margin-bottom: 3em;
}
.ui-introduction .thumb i.iconfont {
  position: absolute;
  bottom: -1em;
  left: 50%;
  margin-left: -.5em;
  font-size: 2em;
  background-color: #00cccc;
  color: #fff;
  padding: .2em;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  text-align: center;
}

/**/